/* Events */
.main-container-events {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    margin-bottom  : 8px;
}

.main-events-left {
    font-size: 14px;
}

.total-product span {
    font-size  : 15px;
    font-weight: 500;
    color      : var(--bg-primary-color);
}

.event-display-money {
    background   : #f7f8f9;
    color        : #777;
    padding      : 11px 16px 11px 16px;
    border       : 1px solid #f7f8f9;
    border-radius: 26px;
}

.event-display-money label {
    padding-left: 2px;
}

.event-display-money select {
    font-size    : 16px;
    background   : none;
    color        : #777;
    padding      : 6px;
    padding-right: 0;
    border       : none;
}

/* Banner & product*/
.container-banner img {
    width: 100%;
}

.container-product-heading {
    position  : relative;
    margin-top: 5px;
}

.container-product-heading::after {
    content         : "";
    display         : block;
    position        : absolute;
    width           : 100%;
    height          : 0.5px;
    background-color: #e2e2e2;
    bottom          : -12px;
}

.container-product-heading h3 {
    font-size: 22px;
    opacity  : 0.8;
}

.container-product-main {
    margin-top: 48px;
}

.heading-main-list-similar {
    border-bottom: 1px solid #dee2e6;
}

.heading-main-list-outstanding {
    background-color: #FAF9FF;
    padding         : 10px 15px 10px 25px;
}

.heading-main-list-similar h2 {
    display         : inline-block;
    font-size       : 15px;
    font-weight     : 500;
    background-color: var(--bg-primary-color);
    color           : #fff;
    padding         : 10px 15px;
}

.heading-main-list-outstanding h2 {
    font-size  : x-large;
    font-weight: 500;
}

.heading-main-list-outstanding h2 strong {
    color: #FF0000;
}

.product-main-item {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    margin-top     : 30px;
}

.product-main-item-img {
    position     : relative;
    display      : flex;
    align-items  : end;
    width        : 180px;
    height       : 200px;
    margin-bottom: 10px;
}

.product-img {
    width: 100%;
}

.product-img a {
    display: block;
    width  : 100%;
}

.product-img a img {
    width     : 100%;
    transition: all 0.2s ease-in-out;
}

.product-img a img:hover {
    scale: 1.1;
}

.product-note {
    position: absolute;
    left    : -11%;
    bottom  : 4%;
}

.product-note span {
    display                   : inline-block;
    font-size                 : 11px !important;
    letter-spacing            : 0.02rem;
    background-color          : #ed1c24;
    color                     : #fff;
    line-height               : 18px;
    padding                   : 0 10px;
    border-top-right-radius   : 10px;
    border-bottom-right-radius: 10px;
}

.product-main-item-content {
    padding: 10px 2px;
}

.product-main-item-content h3 {
    height            : 40px;
    line-height       : 1.2;
    font-size         : 15px;
    font-weight       : 700;
    padding-top       : 5px;
    margin-bottom     : 5px;
    overflow          : hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display           : -webkit-box;
    transition        : all 0.2s linear;
}

.product-main-item-content h3:hover {
    color: var(--bg-primary-color);
}

.price sup {
    position: relative;
    top     : 3px;
}

.price-new {
    font-size  : 16px;
    font-weight: bold;
    color      : #FF0000;
}

.price-sale {
    font-size       : 13px;
    letter-spacing  : 1px;
    line-height     : 1.1;
    background-color: var(--bg-primary-color);
    color           : #fff;
    text-transform  : uppercase;
    padding         : 4px 8px;
    border-radius   : 5px;
    margin-right    : 10px;
    margin-left     : 5px;
}

.price-old {
    display        : block;
    height         : 22px;
    line-height    : 22px;
    font-size      : 13px;
    font-weight    : 400;
    color          : #90908E;
    text-decoration: line-through;
}

.main-header-list-product {
    padding: 16px 0;
    margin : -2px 0 30px;
}

.main-header-list-product .route {
    font-size     : 13px;
    text-transform: capitalize;
    color         : #6e6e6e;
}

.main-header-list-product .route a {
    display       : inline-block;
    text-transform: capitalize;
    color         : #6e6e6e;
    font-size     : 13px;
    transition    : all 0.2s ease-in-out;
}

.main-header-list-product .route a:hover {
    transform: translateX(-5px);
}

.favourite {
    margin-top: 6px;
}

.favourite .favourite-evaluate {
    font-size: 12px;
    color    : #696969;
}