.main-sideBar-admin {
    position  : fixed;
    top       : 0;
    left      : 0;
    height    : 100vh;
    width     : 18rem;
    box-shadow: 1px 0 12px rgba(0, 0, 0, 0.8);
    z-index   : 1200;
}

.main-sideBar-admin::before {
    content            : "";
    position           : absolute;
    top                : 0;
    left               : 0;
    right              : 0;
    bottom             : 0;
    background-image   : url('../images/others/bg-sidebar.jpg');
    /* Đường dẫn đến hình ảnh của bạn */
    background-size    : cover;
    background-position: center;
    opacity            : 0.2;
    filter             : brightness(1.3);
    /* Điều chỉnh độ mờ của hình ảnh */
    z-index            : -1;
    /* Đảm bảo nằm dưới các phần tử bên trong */
}

/* Phần thanh cuộn */
.main-rightSideBar-admin::-webkit-scrollbar {
    width: 2px;
    /* Độ rộng của thanh cuộn */
}

/* Phần đường ray của thanh cuộn */
.main-rightSideBar-admin::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Màu nền */
}

/* Phần con trỏ cuộn */
.main-rightSideBar-admin::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #9f78ff, #32cafe);
    /* Màu của con trỏ */
}

.navbar-header-img {
    display    : flex;
    align-items: center;
    padding    : 20px 0;
}

.navbar-header-img img {
    width      : 26%;
    margin-left: 16px;
}

.navbar-header-img span {
    font-size     : 24px;
    color         : #333;
    letter-spacing: 2px;
    padding-left  : 4px;
    opacity       : 0.8;
}

.nav-list {}

.nav-list>li {
    position     : relative;
    border-bottom: 0.5px solid #d4d4d4;
}

.nav-list a {
    display    : flex;
    align-items: center;
    width      : 100%;
    padding    : 10px;
    color      : #fff;
    opacity    : 0.9;
}

.nav-list a img {
    width: 14%;
}

.nav-list a .down-arrow {
    position: relative;
    top     : 4px;
    width   : 6%;
}

.nav-list a span {
    position: relative;
    top     : 3px;
    color   : #333;
    padding : 0 6px;
    opacity : 0.8;
}

.nav-list .subnav {
    position        : absolute;
    top             : 100%;
    left            : 5%;
    display         : none;
    padding         : 4px;
    animation       : fadeIn linear 0.2s;
    background-color: #e4e4e4;
    border-radius   : 10px;
    z-index         : 10;
}

.nav-list>li:hover .subnav {
    display: block;
}

.subnav a {
    padding   : 5px;
    color     : #666;
    transition: all 0.2s ease-in-out;
}

.subnav a:hover {
    transform: translateX(10px);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}